/* dark-mode.css */

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode header,
body.dark-mode footer {
    background-color: #1e1e1e;
}

body.dark-mode a {
    color: #1db954;
}
